@import "../../../styles/variables.scss";
@import "../../../styles/typography.scss";

.event {
  color: $txt-color-secondary;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #dee2e6;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  // border: 1px solid $border-color-primary;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      font-size: $font-size-3xl;
    }

    h2 {
      font-size: $font-size-xl;
      font-weight: 400;
    }
  }

  &__type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f3f5;
    background-color: #fff;

    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid $border-color-primary;

    &--information {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h3 {
        font-size: $font-size-2xl;
        font-weight: 200;
      }
      p {
        font-size: $font-size-sm;
      }
    }
  }

  &__image {
  }
}
