@use '../../../../../styles/typography.scss' as typography;

.group-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    // background-color: #f1f3f5;
    // padding: 1rem;

    &--label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      p {
        font-size: typography.$font-size-lg;
        width: 100%;
        font-weight: 300;
      }
      input {
        font-size: typography.$font-size-xl; // on phone less the 16px will zoom in and fuck the design up
        width: 100%;
        padding: 0.5rem;
      }
      &--upload-file {
        cursor: pointer;
      }

      section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.2rem;
        width: 15rem;
        // min-width: 40%;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #07383e;
          padding: 1rem;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          border: 1.4px solid var(--color-border-success);
          border: 1px solid lightgray;

          cursor: pointer;

          span {
            font-size: typography.$font-size-3xl;
            color: #fff;
          }
        }
        span {
          font-size: typography.$font-size-2xl;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    &--back,
    &--next {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 5rem;
      border: 0.5px solid lightgray;
      padding: 1rem;
      border-radius: 2rem;
      cursor: pointer;
      font-weight: bold;
      font-size: typography.$font-size-xl;
      //   border: 2px solid black;
    }

    &--back {
      width: 40%;
      color: black;
      background-color: white;
    }

    &--next {
      width: 60%;
      background-color: #07383e;
      color: white;
    }
  }
}
