@import "../../../styles/variables.scss";
@import "../../../styles/typography.scss";
@import "../../../styles/dark.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid $border-color-primary;
  position: sticky;
  top: 0;
  background-color: $bg-color-secondary;
  z-index: 99999999;
  // z-index: 999;

  &-logo {
    font-size: $font-size-md;
    cursor: pointer;
    // margin: 0;
  }

  &-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &__hamburger {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1.5px solid $border-color-primary;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 1rem;

      &-icon {
        cursor: pointer;
      }
    }
  }
}

.dark {
  .nav {
    background-color: $dark-bg-primary;
  }
  .nav-icons {
    color: $dark-icon-primary;
  }
}
