@import "../../../styles/variables.scss";
@import "../../../styles/typography.scss";
@import "../../../styles/dark.scss";

.pricing-container {
  background-color: $bg-color-primary;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &_pricing-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    h2 {
      color: $color-primary;
      font-size: $font-size-3xl;
      text-align: center;
      font-weight: 400;
    }
    p {
      text-align: center;
      color: $color-primary;
      font-size: $font-size-sm;
      font-weight: 200;
    }
  }
}

.dark {
  .pricing-container {
    background-color: $dark-bg-primary;
  }
}
