@import '../../../../styles/variables.scss';
@import '../../../../styles/typography.scss';

.match {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    &--home,
    &--away {
      background-color: #fff;
      border-radius: 1rem;
      border: 1px solid $border-color-success;
      height: 5rem;
      width: 5rem;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        font-size: 3rem;
      }
    }
  }
  &__score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--date {
      p {
        font-size: $font-size-xs;
      }
    }
    &--result {
      p {
        font-size: $font-size-3xl;
        font-weight: 700;
        color: black;
      }
    }

    &--status {
      p {
        font-size: $font-size-xs;
        font-weight: bold;
      }
    }
  }
}

.match-actions {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  &__home,
  &__match,
  &__away {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__home {
    button {
      background-color: #07383e;
    }
  }
  &__match {
    &--start {
      background-color: #388e3c;
    }
    &--end {
      background-color: #d32f2f;
    }
  }
  &__away {
    button {
      background-color: #07383e;
    }
  }
}

.btn {
  padding: 0.5rem 1rem;
  // background-color: #07383e;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5rem;
  border: none;
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  letter-spacing: 0.5px;
}
