@use "../../../styles/variables.scss" as *;
@import "../../../styles/typography.scss";
@import "../../../styles/dark.scss";

.nav-dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  border-bottom: 1px solid $border-color-primary;
  // position: sticky;
  position: fixed;
  top: 0;
  z-index: 1000000000;
  background-color: $nav-bg-color;
  height: 7rem;

  &__admin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: $font-size-6xl;
    cursor: pointer;

    section {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    section {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      img {
        border: 1px solid $border-color-primary;

        padding: 0.5rem;
        border-radius: 1rem;
        object-fit: contain;
        // transform: scale(2.5);
      }
    }
    svg {
      padding: 0.5rem;
      border: 1px solid $border-color-primary;
      border-radius: 1rem;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
  }
}

.notification {
  position: relative;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: $font-size-sm;
    min-width: 2.2rem;
    min-height: 2.2rem;
    border-radius: 50%;
    background-color: #f03e3e;
    transform: translate(50%, -50%);
    color: #fff;
  }
}

.dark {
  .nav-dashboard-container {
    background-color: $dark-bg-primary;

    svg {
      color: $dark-border-primary;
    }
  }
}
