@import "../../../styles/typography.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/dark.scss";

.group {
  display: grid;
  border: 1px solid $border-color-primary;
  border: 1px solid black;
  &-header {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-primary;
    color: $color-primary;
    &__sort {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
    }
    &__titles {
      display: grid;
      grid-template-columns: repeat(9, 1fr); /* Matchar antalet kolumner */
      width: 100%;
      padding: 1rem;

      &__title {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          white-space: nowrap;
        }
      }
    }
  }

  &-teams {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: #f1f3f5;
    border-bottom: 1px solid $border-color-primary;
    &__place {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      border-radius: 0.5rem;
      width: 3rem;
      height: 3rem;

      span {
        font-size: $font-size-sm;
        font-weight: 500;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(9, 1fr); /* Matchar antalet kolumner */
      width: 100%;
      list-style: none;
      gap: 1rem;
      padding: 1rem;
      // border-bottom: 1px solid green;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
      }
    }
  }
}

.group-leaders {
  background-color: rgb(0, 70, 130);
  color: $color-primary;
  border: none;
}

.losers {
  background-color: red;
  color: $color-primary;
  border: none;
}
