// LIGHT MODE
$body-bg-color: #000;
$nav-bg-color: #000;
$card-bg-primary: #f5f5f7;

$bg-color-primary: #008000;
$bg-color-secondary: #fff;

$border-color-primary: #008000;
$border-color-secondary: #fff;

$color-primary: #fff;
$txt-color-primary: #008000;

$btn-color-primary: #008000;
$btn-color-secondary: #fff;
