// LIGHT MODE
$body-bg-color: #f2f2f2;
$nav-bg-color: #fff;
$card-bg-primary: #edf4f0;

$bg-color-primary: #197842;
$bg-color-secondary: #fff;
// $bg-color-secondary: #f2f2f2;

$border-color-primary: #bad7c6;
$border-color-secondary: #fff;

$color-primary: #fff;
$txt-color-primary: #197842;
$txt-color-secondary: #424242;

$btn-color-primary: #197842;
$btn-color-secondary: #fff;
