@import '../../../../styles/variables.scss';
@import '../../../../styles/typography.scss';
@import '../../../../styles/dark.scss';
@import '../../../../app/globals.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  // position: sticky;
  position: fixed;
  height: 7rem;
  top: 0;
  background-color: var(--color-bg-primary);
  z-index: 99999999;
  // z-index: 999;

  &__logo {
    font-size: $font-size-md;
    cursor: pointer;
    color: var(--color-icon-primary);
  }

  &__icons {
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    &--hamburger,
    &--cross {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 1rem;
      color: var(--color-icon-primary);
    }
  }
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 5rem;
  display: none;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: $font-size-md;
    color: var(--color-text-primary);
  }
  &__btn {
    display: flex;
    gap: 1rem;
    font-size: $font-size-md;
    background-color: var(--color-btn-primary);
    border: 1px solid var(--color-btn-secondary);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  &__btn:hover {
    opacity: 0.9;
  }
}

@media (min-width: 1024px) {
  .nav {
    padding: 2.5rem;
  }
  .nav__icons {
    display: none;
  }
  .navbar {
    display: flex;
  }
}
