@use '../../../../../styles/typography.scss' as typography;

.event-selection {
  color: var(--color-text-tertiary);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #dee2e6;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.08);
  // background-color: green;
  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    font-size: typography.$font-size-lg;
    color: black;
    svg {
      font-size: typography.$font-size-3xl;
    }

    h2 {
      font-size: typography.$font-size-lg;
      font-weight: 400;
    }
  }

  &__type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f3f5;
    background-color: #fff;

    padding: 1.5rem;
    // border-radius: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);

    &--information {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h3 {
        font-size: typography.$font-size-lg;
        font-weight: 200;
      }
      p {
        font-size: typography.$font-size-sm;
      }
    }
  }

  &__type:last-child {
    border-bottom: none;
  }

  &__image {
  }
}
