@import '../../../../../styles/variables.scss';
@import '../../../../../styles/typography.scss';

.active-tournament-detail-view {
  padding: 1.5rem;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    li {
      font-size: $font-size-md;
      cursor: pointer;
    }
    li.active {
      font-weight: 500;
    }

    .active {
      text-decoration: underline;
      text-underline-offset: 8px;
      text-decoration-color: $border-color-success;
      text-decoration-thickness: 3px;
    }
  }
}
