@import '../../../../styles/variables.scss';
@import '../../../../styles/typography.scss';
@import '../../../../styles/dark.scss';

.concept {
  width: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  background-color: var(--color-bg-primary);
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      color: var(--color-text-heading-primary);
      font-size: $font-size-3xl;
      text-align: center;
      font-weight: 400;
      margin-bottom: 2rem;
    }
    p {
      text-align: center;
      font-size: $font-size-sm;
      font-weight: 200;
      color: var(--color-text-paragraph-primary);
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-card-primary);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
  }
  a {
    cursor: pointer;
    border-radius: 5rem;
    padding: 1.5rem;
    background-color: var(--color-btn-primary);
    color: var(--color-text-secondary);
    border: none;
  }
  // }
}

@media (min-width: 1280px) {
  .idea-container {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media (min-width: 1536px) and (max-width: 1920px) {
  .idea-container {
    padding-left: 25rem;
    padding-right: 25rem;
  }
}

@media (min-width: 1921px) {
  .idea-container {
    padding: 4rem 50rem;
  }
}
