@import '../../../../styles/variables.scss';
@import '../../../../styles/typography.scss';
@import '../../../../styles/dark.scss';

.idea-container {
  width: 100%;
  padding: 2.5rem;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;

    .idea-text {
      h2 {
        color: $txt-color-primary;
        font-size: $font-size-3xl;
        text-align: center;
        font-weight: 400;
      }
      p {
        text-align: center;
        font-size: $font-size-sm;
        font-weight: 200;
      }
    }
    .idea-cta {
      padding-bottom: 1.5rem;

      button {
        cursor: pointer;
        border-radius: 5rem;
        padding: 1.5rem;
        background-color: $bg-color-primary;
        color: $color-primary;
        border: none;
      }
    }
  }
}

.dark {
  .idea-container {
    background-color: $dark-bg-primary;

    .idea-text {
      h2 {
        color: #fff;
      }
      p {
        color: $dark-text-primary;
      }
    }
    .idea-cta {
      background-color: $dark-bg-secondary;
      border: 1px solid $dark-border-primary;
      width: 100%;

      p {
        color: $dark-text-primary;
      }

      button {
        border: 1px solid #fff;
      }
    }
  }
}
