@import "../../../../styles/typography.scss";
@import "../../../../styles/variables.scss";
@import "../../../../styles/dark.scss";

.groups {
  display: grid;
  gap: 5rem;

  .group {
    border: 0.5px solid gray;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0 2.6px,
      rgba(0, 0, 0, 0.15) 0 1.95px 2.6px, rgba(0, 0, 0, 0.15) -1.95px 0 2.6px;

    &-header {
      display: flex;
      gap: 1rem;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      background-color: $bg-color-primary;
      color: $color-primary;
      &__sort {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
      }
      &__titles {
        display: grid;
        grid-template-columns: repeat(9, 1fr); /* Matchar antalet kolumner */
        width: 100%;
        padding: 1rem;

        &__title {
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            white-space: nowrap;
          }
        }
      }
    }
    &-teams {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 1rem;
      // background-color: #f1f3f5;
      border-bottom: 1px solid $border-color-primary;
      &__place {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.5px solid black;
        border-radius: 0.5rem;
        width: 3rem;
        height: 3rem;

        span {
          font-size: $font-size-sm;
          font-weight: 500;
        }
        &:last-child {
          border-bottom: 5px solid $border-color-primary;
        }
      }

      ul {
        display: grid;
        grid-template-columns: repeat(9, 1fr); /* Matchar antalet kolumner */
        width: 100%;
        list-style: none;
        gap: 1rem;
        padding: 1rem;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
        }
      }
    }
  }
}

.group-teams:last-child {
  border: none;
}
.group-teams__place.group-leaders {
  background-color: rgb(0, 70, 130);
  color: $color-primary;
  border: none;
}

.group-teams__place.losers {
  background-color: red;
  color: $color-primary;
  border: none;
}
