@import "../../styles/dark.scss";

.modal {
  display: none;
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999999999999999;
}

.modal.display {
  display: block;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  width: 100%;
  height: 100%;
  position: relative;
  animation: 0.4s animatetop ease-in-out forwards;
}

@keyframes animatetop {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

@keyframes animateout {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}

.dark {
  .modal-content {
    background-color: $dark-bg-primary;
  }
}
