* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100dvh;
  // height: 100vh;
  width: 100vw;
  background-color: var(--color-bg-body);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-bg-body: #f5f5f7;
  --color-bg-primary: #fff;
  --color-bg-secondary: #197842;
  --color-bg-tertiary: #f5f5f7;
  --color-bg-opacity-primary: rgb(0, 0, 0, 0.2);

  --color-border-primary: #197842;
  --color-border-secondary: #bad7c6;
  --color-border-tertiary: #f5f5f7;
  --color-border-dashboard: #f5f5f7;
  --color-border-theme: #6a6a6a;

  --color-border-error: #d0184d;
  --color-border-warning: #fe8502;
  --color-border-success: #068e6a;

  --color-text-primary: #000;
  --color-text-secondary: #f5f5f7;
  --color-text-tertiary: #6a6a6a;
  --color-text-greyish: #424242;

  --color-text-heading-primary: #197842;
  --color-text-heading-secondary: #f5f5f7;
  --color-text-heading-tertiary: #818181;

  --color-text-paragraph-primary: #6a6a6a;
  --color-text-paragraph-secondary: #f5f5f7;

  --color-text-info: #006774;
  --color-text-error: #d0184d;
  --color-text-warning: #bf3f08;
  --color-text-success: #076e55;
  --color-text-positive: #045b9a;
  --color-text-negative: #d0184d;

  --color-btn-primary: #197842;
  --color-btn-secondary: #fff;

  --color-icon-primary: #008000;
  --color-icon-secondary: #fff;
  --color-icon-tertiary: #6a6a6a;

  --color-card-primary: #fff;
  --color-card-secondary: #edf4f0;
  --color-card-tertiary: #197842;

  --test1: #3d444d;
  --test2: #111313;
}

.dark {
  --color-bg-body: #171919;
  --color-bg-primary: #111313;
  // --color-bg-secondary: #2d2d30;
  --color-bg-secondary: #111313;
  --color-bg-tertiary: #2d2d30;

  --color-text-heading-primary: #f5f5f7;
  --color-text-paragraph-primary: #f5f5f7;
  --color-text-primary: #f5f5f7;

  --color-icon-primary: #fff;
  --color-icon-tertiary: #fff;

  --color-card-primary: #3e3e42;
  --color-card-secondary: #3e3e42;
  --color-card-tertiary: #3e3e42;

  --color-border-dashboard: #3d444d;
  --color-border-primary: #f5f5f7;
  --color-border-theme: #f5f5f7;
}
