@import "../../src/styles/variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  // height: 100vh;
  height: 100dvh;
  width: 100vw;
  background-color: $bg-color-secondary;
  // background-color: black;
  // overflow: hidden;
  overflow-y: scroll;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
