@import "../styles/variables.scss";
@import "../styles/typography.scss";

.wrapper {
  background-color: red;
  position: relative;
  height: 100%;
}
.main-content {
  background-color: $bg-color-secondary;
}
