@import "../styles/variables.scss";
@import "../styles/typography.scss";

.wrapper {
  margin-top: 7rem; // bases on the nac height to make it show the full element height
  background-color: red;
  // position: relative;
  // height: 100dvh;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 7rem;
}
.main-content {
  background-color: $bg-color-secondary;
}
