@import "../../styles/typography.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid green;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  &-logo {
    font-size: $font-size-md;
    cursor: pointer;
    margin: 0;
  }

  &-icons {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__hamburger {
      border: 1.5px solid green;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 1rem;
    }
  }
}

.icon {
  cursor: pointer;
}
