@use '../../../../../styles/typography.scss' as typography;

.tournament-overview-details {
  display: flex;
  flex-direction: column;
  // grid-template-columns: 1;
  gap: 2rem;

  &__label {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      font-size: typography.$font-size-lg;
      // color: black;
    }
    p {
      font-size: typography.$font-size-sm;
    }
  }

  &__teams-participating {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    grid-column: 1/-1;

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-size: typography.$font-size-md;

      svg {
        font-size: typography.$font-size-lg;
      }
    }
    &__teams {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      width: 100%;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: typography.$font-size-sm;
      }
    }
  }
}
