@use '../../../styles/typography.scss' as typography;

.card-wrapper {
  color: var(--color-text-tertiary);
  gap: 1.5rem;
  background-color: #dee2e6;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.08);
  // height: 100%;
}
