.tournament-overview-teams {
  display: flex;
  flex-direction: column;

  gap: 2rem;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &__teams {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
