@import "../../../styles//typography.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/dark.scss";

.footer-container {
  background-color: $bg-color-primary;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2.5rem;
  width: 100%;

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h3 {
      font-size: $font-size-xl;
      color: $color-primary;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: $color-primary;
      li {
        font-size: $font-size-xs;
        color: #cfcece;
      }
    }
  }
}

.dark {
  .footer-container {
    background-color: $dark-bg-primary;
  }
}
