@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

.auth-input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  label {
    font-size: $font-size-md;
  }
  input {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    font-size: $font-size-xl;
  }

  input.invalid {
    border-color: red;
  }

  p.invalid {
    color: red;
  }
}
