@import '../../../../styles/typography.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/dark.scss';
.nav-menu-dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  height: 100%;
  &__category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: var(--color-text-tertiary);
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    svg {
      font-size: $font-size-xl;
    }
    p {
      font-size: $font-size-sm;
    }
  }

  &__arrow {
    font-size: $font-size-xl;
  }

  &__subcategory {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2.5rem;
  }

  &__theme-settings {
    margin-top: auto;
    align-self: flex-end;
  }
}

@media (min-width: 1280px) {
  .nav-menu-dashboard {
    &__category {
      // background-color: $dark-bg-secondary;
      // border-radius: 1rem;
      // color: $dark-text-primary;
    }
  }
}

.active {
  background-color: #98e5dd;
}
