@import "../../../../styles/typography.scss";
@import "../../../../styles/variables.scss";
@import "../../../../styles/dark.scss";
.nav-menu-dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  &__category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    color: #6a6a6a;

    section {
      display: flex;
      // justify-content: center;
      // align-items: center;
      gap: 1rem;
      width: 100%;
      svg {
        font-size: $font-size-3xl;
      }
      p {
        font-size: $font-size-lg;
      }

      .arrow {
        font-size: $font-size-2xl;
        margin-left: auto;
      }
    }
  }

  &__subcategory {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 4rem;

    li {
      font-size: $font-size-md;
    }
  }
}

.dark {
  .nav-menu-dashboard__category {
    background-color: $dark-bg-secondary;
    border-radius: 1rem;
    color: $dark-text-primary;
  }
}

.nav-menu-dashboard__category.active {
  // background-color: $bg-color-primary;
}
