@import '../../../styles/typography.scss';

/* The switch - the box around the slider */
.switch-theme-mode {
  position: relative;
  display: inline-block;
  width: 7rem;
  height: 3.5rem;
  align-self: flex-end;
  bottom: 0;
}

/* Hide default HTML checkbox */
.switch-theme-mode input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  display: flex;
  align-items: center;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid var(--color-border-theme);
  background-color: #fff;
}

input:not(:checked) + .slider {
  background-color: white;
  .theme-dark_mode {
    color: #fff;
  }
}

input:checked + .slider {
  background-color: #000;
  .theme-light_mode {
    color: #fff;
  }
}

input:focus + .slider {
  // box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(3.1rem);
  -ms-transform: translateX(3.1rem);
  transform: translateX(3.1rem);
  background-color: #fff;
}

/* Rounded sliders */
.slider.round {
  display: flex;
  align-items: center;
  background-color: #000;
  border-radius: 34px;
  border: 1px solid var(--color-border-theme);
}

.slider.round:before {
  border-radius: 50%;
}

.theme {
  margin-top: auto;
  background-color: #000;
  border-radius: 3rem;
  width: 30%;

  &-light {
    width: 50%;

    &_icon {
      font-size: $font-size-xl;
      cursor: pointer;
    }
  }
}

.theme-light_mode {
  position: absolute;
  font-size: 2rem;
  right: 10%;
  color: #000;
}

.theme-dark_mode {
  position: absolute;
  font-size: 2rem;
  left: 10%;
  color: #fff;
}
