@import "../../styles//typography.scss";
@import "../../styles/variables.scss";

.dashboard {
  // position: relative;
  height: 100%; //! TESTING
}

.main-container {
  // padding: 1.5rem;
  margin-top: 7rem; // bases on the nac height to make it show the full element height

  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%; //! TESTING
}
