@import '../../styles//typography.scss';
@import '../../styles/variables.scss';

.dashboard {
  // margin-top: 7rem; // bases on the nav height to make it show the full element height
  // height: 100dvh;
  // overflow-y: auto;

  // background-color: #fdfdfd;
  padding-top: 7rem;
  // height: 100%;
}

.main-container__dashboard {
  padding: 1.5rem;
  height: 100%; //! TESTING
  // margin-bottom: 7rem; // bases on the nav height to make it show the full element height
}
